.a {
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    word-wrap: break-word;
    width: fit-content;
    text-decoration: none;
    color: black;
}

.a:hover {
    cursor: pointer;
    color: black;
}

.a:active {
    color: black;
}